@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-family: Uni Neue;
  font-size: $base-font-size;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*,
*::before,
*::after { box-sizing: border-box; }

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd { margin: 0; }

a:not([class]) { text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section {
  position: relative;
  padding: calc(1rem + 3vw) 1rem;
}

input,
select,
button { outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #ECECEC;
}

.line {
  background-color: #C4C4C4;
  z-index: 10;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 1px;
  @media (max-width: 1800px){
    display: none;
  }
}

.line-l {
  left: 34.8vw;
}

.line-c {
  left: 62.6vw;
}

.line-r {
  left: 90.4vw;
}

.container {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
}

.text-color-red {
  color: $red;
}

.text-rotated {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.section-title {
  color: #404040;
  font-weight: 600;
  font-size: calc(2rem + .2vw);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: .8rem;
}

.section-subtitle {
  text-align: center;
  margin-bottom: calc(1rem + 1vw);
}

.magnifier {
  background: url(../images/general/magnifier.png) no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .4s;
}

.input {
  padding: .5rem 1rem;
  border: 1px solid #404040;
  border-radius: 3px;
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#order,
#about,
#reviews,
#seo,
#cases {
  background-color: $white;
}

#first-screen,
#about,
#order,
#cases,
#reviews,
#seo {
  z-index: 20;
}

//Модули
@import "modules/modules";
