header.header
    .header__logo
        a(href="/")
            img(src='./static/images/general/logo.png').logo
    .header__nav
        include ../main-nav/main-nav
    .header__contacts
        a(href="tel:+79151164161").header__phone +7 (915) 116 41 61
        a(href='#modal-callback' class='modal-btn header__btn') Обратный звонок