include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")
	body(class=pageClass)
		.wrapper
			include ../modules/header/header
			.content
				.line.line-l
				.line.line-c
				.line.line-r
				block content
			include ../modules/footer/footer
			include ../modules/modals/callback
		script(src="static/js/jquery-3.3.1.min.js")
		script(src="static/js/libs.min.js")
		script(src="static/js/main.js")
		block script
