extends template/main

block variables
	- var title = 'Главная страница'

block content
	include ./modules/firsts-screen/first-screen
	include ./modules/aftermath-screen/aftermath-screen
	include ./modules/about-screen/about-screen
	include ./modules/services-screen/services-screen
	include ./modules/order-screen/order-screen
	include ./modules/cases-screen/cases-screen
	include ./modules/articles-screen/articels-screen
	include ./modules/reviews-screen/reviews-screen
	include ./modules/seo-screen/seo-screen
