section#cases
    .container
        .cases
            ul.cases__list
                li.cases__item
                    .cases__img
                        a.cases__link(href="./static/images/content/cases-1.jpg" data-fancybox="gallery" rel="gallery01")
                            img(src="./static/images/content/cases-1.jpg" title="" alt="")
                            .magnifier
                    .cases__content
                        .cases__title Квартира на торгах
                        .cases__term Срок сделки: #[span 25]
                        .cases__text
                            p Ко мне обратился клиент Иван, чтобы я ему помог продать квартиру, было это в середине августа 2019 года, которая находилась в подмосковном городе Мытищи.
                            p Он просил продать квартиру быстро. Якобы уезжает в командировку.
                            p Я специализируюсь на быстрой продаже квартир. И конечно объяснил, что будет незначительный дисконт. Клиент согласился.
                            p Нашли покупателя быстро. Однако какое у нас было удивление, когда я узнал, что квартира была уже арестована и выставлена на торги за долги по ипотеке.
                            p Иван рассказал, что уже год не может платить ипотеку, потому что на работе в компании дела пошли плохо и им сократили зарплату.
                            p И с этим можно решить вопрос продажи квартиры. Иван был очень рад, что есть выход из его ситуации.
                            p Я помог оформить все документы и урегулировать вопрос с банком. Продали быстро квартиру. Иван купил себе меньшую квартиру без ипотеки.
                li.cases__item
                    .cases__img
                        a.cases__link(href="./static/images/content/cases-2.jpg" data-fancybox="gallery" rel="gallery01")
                            img(src="./static/images/content/cases-2.jpg" title="" alt="")
                            .magnifier
                    .cases__content
                        .cases__title Аресты квартир
                        .cases__term Срок сделки: #[span 15]
                        .cases__text
                            p В августе 2016 года ко мне обратилась семья Ивановых просила помощи в продаже квартиры в городе Балашиха.
                            p Муж с женой рассказали мне, что квартира была в ипотеке. И что самое страшное для них уже прошёл суд по взысканию их квартиры. Я их успокоил, сказал, что ничего страшного здесь нет, согласовал с ними схему работы.
                            p Продали квартиру по рыночной цене. Семья Ивановых получила от продажи сумму которую они хотели. Это позволило им не остаться на улице и купить другую недвижимость без ипотеки.
            .cases__aside


