section#reviews
    .container
        .reviews
            .section-title.reviews__title Отзывы
            ul.reviews__list
                li.reviews__item
                    a(href='./static/images/content/reviews-1.jpg' data-fancybox="gallery" rel="gallery02").reviews__link
                        img(src='./static/images/content/reviews-1.jpg').reviews__img
                        .magnifier
                li.reviews__item
                    a(href='./static/images/content/reviews-2.jpg' data-fancybox="gallery" rel="gallery02").reviews__link
                        img(src='./static/images/content/reviews-2.jpg').reviews__img
                        .magnifier
                li.reviews__item
                    a(href='./static/images/content/reviews-3.jpg' data-fancybox="gallery" rel="gallery02").reviews__link
                        img(src='./static/images/content/reviews-3.jpg').reviews__img
                        .magnifier
                li.reviews__item
                    a(href='./static/images/content/reviews-4.jpg' data-fancybox="gallery" rel="gallery02").reviews__link
                        img(src='./static/images/content/reviews-4.jpg').reviews__img
                        .magnifier