.articles {
  &__show-all {
    text-align: center;
    display: block;
    margin-bottom: calc(1rem + 2vw);
    color: $red;
  }
  &__item {
    @media (max-width:768px){
      grid-template-rows: 250px 1fr;
    }
    .item-list__img {
      object-fit: contain;
    }
  }
  &__link {
    padding: .5rem 1rem;
    border: 1px solid #585858;
    border-radius: .3rem;
    width: 50%;
    align-self: flex-end;
    text-align: center;
    color: #585858;
    text-decoration: none;
    margin-top: 1rem;
    transition: all .4s;
    min-width: 100px;
    &:hover {
      background-color: #01a7f5;
      color: $white;
    }
    &:active {
      box-shadow: inset 0 0 10px 0px $black;
    }
  }
}