#first-screen {
  background-repeat: no-repeat;
  background-size: cover;
}
.first-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > * {
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
}