footer.footer
    .footer__left-side
        .footer__logo
            a(href="/")
                img(src='./static/images/general/logo.png').logo
        .footer__socials.socials
            .socials__title Соцсети:
            ul.socials__list
                li.socials__item
                    a(href='').socials__link
                        .socials__icon(style="background-image: url(./static/images/general/vk-icon.png)")
                li.socials__item
                    a(href='').socials__link
                        .socials__icon(style="background-image: url(./static/images/general/inst-icon.png)")
                li.socials__item
                    a(href='').socials__link
                        .socials__icon(style="background-image: url(./static/images/general/fb-icon.png)")
    .footer__right-side
        .footer__contacts
            .footer__subtitle Контакты
            .footer__phones-list
                a(href='tel:+79151164161').footer__phone-link +7 (915) 116 41 61
                a(href='tel:').footer__phone-link
                    .footer__phone-icon(style="background-image: url(./static/images/general/whatsapp-icon.png)")
                a(href='tel:').footer__phone-link
                    .footer__phone-icon(style="background-image: url(./static/images/general/tg-icon.png)")
            .footer__address Россия, Москва, просп. Мира, 101, стр. 1



